screen
  grid
    box#history(label="History", border-type="line")
    form#form(keys="true")
      textbox#input
      button#submit(type="submit")
      box#instructions [ESCAPE] (2x) exit]
    box#controls(border-type="line", bottom="0", height="3")
