name: Test
on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master
jobs:
  test:
    name: Run tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v3
    - name: Install Node.js on ${{ matrix.os }}
      uses: actions/setup-node@v2
      with:
        node-version-file: '.nvmrc'
        cache: 'npm'
        cache-dependency-path: package-lock.json
    - name: Install dependencies
      run: npm ci
    - name: Generate coverage report
      run: npm run report:coverage
    - name: Send coverage report
      uses: codecov/codecov-action@v3.1.1
      with:
        directory: ./reports/
